.image {
  opacity: 0;
  transition: opacity 0.5s ease;
  &[data-load='done'] {
    opacity: 1;
  }
}
.img{
  width: 200px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 190px;
  background-image: url("/img2.jpeg");
}
.link {
  color: #fff;
  display: block;
  margin: 10px 0;
}
.title {
  position: absolute;
  // fontSize: hovered ? "17em" : "11em",
  top: 60vh;
  transition: all 1s ease;
  left: 1.5em;
}
.subtitleContainer{
  position: relative;
  --maskX:0;
  --maskY:50;
}
  .subtitle{
    position: absolute;
    top: 0;
    left: 0;
    color:#9c9c9c;
    width: 100%;
    z-index: 10;
    height:100%;
    transition: all 0.8s cubic-bezier(0.165,0.84,0.44,1); 
    // clip-path: polygon(0 0, calc(var(--maskX) * 1%) 0, calc(var(--maskY) * 1%) 100%, 0 100%);
    clip-path: polygon(0 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * .4%) 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * -.4%) 100%,0 100%)
  }
  
  .titleWrapper {
    color:#ffffff;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
@media screen and (max-width:767.98px) {
  .h1{
    margin:10px 0;
    font-size: 6rem;
  }
  .action {
    font-size: 6rem;
  }
  .p {
    top: 70vh;
    width: 400px;
    font-size: .9rem;
    }
}
@media screen and (min-width:767px) {
  .h1{
    margin:10px 0;
    font-size: 7rem;
  }
  .action {
    font-size: 9rem;
  }
  .p{
    width: 600px;
    top:90vh;
    left:50%;
  }
}