.image {
  opacity: 0;
  transition: opacity 0.5s ease;
  &[data-load='done'] {
    opacity: 1;
  }
}
.p1, .p2 {
  position: absolute;
  letter-spacing:1.5px;
  line-height:1.75;
  margin: 20px 10px;
  color: white;
  font-size: .9rem;
}
.p1 {
  left:50%;
}
.img{
  width: 200px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 190px;
  background-image: url("/img2.jpeg");
}
.link {
  color: #fff;
  display: block;
  margin: 10px 0;
}
.title {
  position: absolute;
  // fontSize: hovered ? "17em" : "11em",
  top: 60vh;
  transition: all 1s ease;
  left: 1.5em;
}
.subtitleContainer{
  position: relative;
  --maskX:0;
  --maskY:50;
}
  .subtitle{
    position: absolute;
    top: 0;
    left: 0;
    color:#9c9c9c;
    width: 100%;
    z-index: 10;
    height:100%;
    transition: all 0.8s cubic-bezier(0.165,0.84,0.44,1); 
    // clip-path: polygon(0 0, calc(var(--maskX) * 1%) 0, calc(var(--maskY) * 1%) 100%, 0 100%);
    clip-path: polygon(0 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * .4%) 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * -.4%) 100%,0 100%)
  }
  .wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}
.footer {
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  color: white;
  position: absolute;
  top: 480vh;
  left: 30%;
  width: 100%;
}
@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapper span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left:15%;
}
  .titleWrapper {
    color:#ffffff;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
  .like {
    position: absolute;
    // fontSize: hovered ? "17em" : "11em",
    top: 200vh;
    font-size: 3rem;
    transition: all 1s ease;
    left: 20vh;
    width:200px;
  }
  .drink {
    position: absolute;
    // fontSize: hovered ? "17em" : "11em",
    top: 230vh;
    font-size: 3rem;
    transition: all 1s ease;
    left: 10vh;
  }
  .pasokon {
    position: absolute;
    // fontSize: hovered ? "17em" : "11em",
    top: 270vh;
    font-size: 3rem;
    transition: all 1s ease;
    left: 10vh;
  }
  .pokemon {
    position: absolute;
    // fontSize: hovered ? "17em" : "11em",
    top: 300vh;
    font-size: 3rem;
    transition: all 1s ease;
    left: 10vh;
  }
@media screen and (max-width:767.98px) {
  .h1{
    margin:10px 0;
    font-size: 6rem;
  }
  .action {
    font-size: 6rem;
  }
  .p1 {
    top: 70vh;
    width: 250px;
    left: 40%;
    }
  .p2 {
    top:10vh;
  }
}
@media screen and (min-width:767px) {
  .h1{
    margin:10px 0;
    font-size: 7rem;
  }
  .action {
    font-size: 9rem;
  }
  .p2{
    width: 600px;
    top:90vh;
    left:70%;
    letter-spacing:1.5px;
    line-height:1.75;
    font-size: 1.5rem;
  }
  .p1 {
    width:500px;
    left: 10%;
    top: 25vh;
    font-size:1.5rem;
  }
}